.hero-wrapper {
    color: white;
    position: relative;
    padding-bottom: 2rem;
    background-color: var(--black);
}

.hero-container {
    justify-content: space-between;
    align-self: flex-end;
}

.hero-left {
    gap: 3rem;
}

.hero-title {
    position: relative;
    z-index: 1;
}

.hero-title>h1 {
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
}


.image-container>img {
    width: 100%;
    height: 100%;
}

.bgContainer {
    border: 8px solid rgba(255, 255, 255, 0.12);
}

video {
    width: 110%;
    height: 120%;
    object-fit: cover;
}

