@import url('https://fonts.googleapis.com/css2?family=Kalnia&family=Poppins:wght@400;600;700&display=swap');

span {
    font-family: 'Kalnia', serif;
}
.h-wrapper {
    
    color: white;
}

.h-container {
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
}


.h-menu {
    gap: 2rem;
}

.h-menu>*:hover {
    cursor: pointer;
}

.menu-icon{
    display: none;
}