.App {
  position: relative;
  overflow-x: clip ;
}

.App>:nth-child(1)
{
  background: var(--black);
  position: relative;
}

.white-gradient {
  position: absolute;
  width: 20rem;
  height: 20rem;
  background: 20px 23px 21px -8px rgba(136, 160, 255, 0.35);
  filter: blur(200px);
  border-radius: 100px;
}