.r-head {
    margin-bottom: 2rem;
}

.r-card {
    gap: 0.6rem;
    padding: 1.5rem;
    border-radius: 10px;
    max-width: max-content;
    margin: auto;
    transition: all 300ms ease-in;
    /* border: 1px solid #ddd; */
    box-shadow: 0px 23px 21px -8px rgba(6, 53, 238, 0.35); 
} 

.r-card>img {
    width: 100%;
    max-width: 15rem;
}

.r-card>:nth-child(2) {
    font-size: 1.2rem;
    font-weight: 600;
}
.r-card>:nth-child(3) {
    font-size: 1.5rem;
}
.r-card>:nth-child(4) {
    font-size: 0.7rem;
    width: 15rem;
}
.r-container {
    max-width: 1200px;
    margin: 0 auto; 
    overflow: hidden; 
    position: relative;
}

.r-card:hover {
    scale: 1.025;
    cursor: pointer;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(136, 160, 255, 0.46) 217.91%
    );
    box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.21);
}

.swiper-horizontal {
    overflow: visible;
}

.r-wrapper{
    margin-top: 50px;
}
